In [1]:
# String manipulation
string_variable = "Hello, World!"
print(string_variable)

Hello, World!

In [5]:
# Different data types
my_integer = 10
my_float = 3.14
my_boolean = True

In [6]:
# Loops
# Using a for loop to iterate over a list
my_list = [1, 2, 3, 4, 5]
for item in my_list:
    print(item)

1
2
3
4
5

In [7]:
# If-else statements
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is greater than 5

In [8]:
# Functions
def add_numbers(a, b):
    return a + b

result = add_numbers(3, 5)
print("Result of addition:", result)

Result of addition: 8

In [9]:
# Classes
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0

    def get_description(self):
        return f"{self.year} {self.make} {self.model}"

    def read_odometer(self):
        print(f"This car has {self.odometer_reading} miles on it.")

    def update_odometer(self, mileage):
        if mileage >= self.odometer_reading:
            self.odometer_reading = mileage
        else:
            print("You can't roll back an odometer!")

    def increment_odometer(self, miles):
        self.odometer_reading += miles

In [10]:
# Creating an instance of the Car class
my_car = Car("Toyota", "Camry", 2020)
print("Car description:", my_car.get_description())
my_car.read_odometer()

Car description: 2020 Toyota Camry
This car has 0 miles on it.

In [11]:
# Updating odometer reading
my_car.update_odometer(100)
my_car.read_odometer()

This car has 100 miles on it.

In [12]:
# Incrementing odometer reading
my_car.increment_odometer(50)
my_car.read_odometer()

This car has 150 miles on it.

In [13]:
import numpy as np

# Create a 1D array
arr1d = np.array([1, 2, 3, 4, 5])

# Create a 2D array
arr2d = np.array([[1, 2, 3], [4, 5, 6]])

# Create an array of zeros
zeros_array = np.zeros((3, 3))

# Create an array of ones
ones_array = np.ones((2, 2))

In [15]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)